/* Thêm vào file CSS của bạn */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Sử dụng chiều cao tối thiểu của viewport */
  padding: 20px;
}

.reset-password-form {
  max-width: 400px; /* Giới hạn chiều rộng của form */
  width: 100%; /* Đảm bảo form không vượt quá chiều rộng tối đa */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tùy chọn: thêm bóng cho form */
  padding: 20px; /* Tùy chọn: thêm padding xung quanh form */
  border-radius: 8px; /* Tùy chọn: bo tròn góc */
}
